 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #EEE0CB;
}


#imageDiv {
  width: 100%;
  border: 0 none;
  opacity: 0.9;
  text-align: center;
  padding-bottom: 20px; 

}

.form-control{
  	width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid #555;
    background-color: #f4a4a4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

#selectState{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.table{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: left;
  background-color: #f4a4a4;
}

.tr {
  text-align: : center;
}

